<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="check()">現在地から検索</ion-button>
  
  <div #map id="map"></div>
  <div *ngIf="selectedShop">
      <ion-item>店舗ID:{{ selectedShop.id }}</ion-item>
      <ion-item>店舗名:{{ selectedShop.name }}</ion-item>
      <ion-item>店舗住所:{{ selectedShop.address }}</ion-item>
      <ion-item>電話番号:{{ selectedShop.tel }}</ion-item>
  </div>

</ion-content>
